<!DOCTYPE html>
<html>
<body>
    <table class="table table-bordered">
        <tr>
            <td>max_speed</td>
            <td>{{ data.max_speed_ }}</td>
        </tr>
        <tr>
            <td>creep_speed</td>
            <td>{{ data.creep_speed_ }}</td>
        </tr>
        <tr>
            <td>max_w</td>
            <td>{{ data.max_w_ }}</td>
        </tr>
        <tr>
            <td>creep_w_</td>
            <td>{{ data.creep_w_ }}</td>
        </tr>
                <tr>
            <td>slow_down_speed</td>
            <td>{{ data.slow_down_speed_ }}</td>
        </tr>
        <tr>
            <td>acc_</td>
            <td>{{ data.acc_ }}</td>
        </tr>
        <tr>
            <td>dec_</td>
            <td>{{ data.dec_ }}</td>
        </tr>
        <tr>
            <td>dec_estop_</td>
            <td>{{ data.dec_estop_ }}</td>
        </tr>
        <tr>
            <td>acc_w_</td>
            <td>{{ data.acc_w_ }}</td>
        </tr>
        <tr>
            <td>dec_w_</td>
            <td>{{ data.dec_w_ }}</td>
        </tr>
        <tr>
            <td>creep_distance_</td>
            <td>{{ data.creep_distance_ }}</td>
        </tr>
        <tr>
            <td>creep_theta_</td>
            <td>{{ data.creep_theta_ }}</td>
        </tr>
        <tr>
            <td>upl_mapping_angle_tolerance_</td>
            <td>{{ data.upl_mapping_angle_tolerance_ }}</td>
        </tr>
        <tr>
            <td>upl_mapping_dist_tolerance_</td>
            <td>{{ data.upl_mapping_dist_tolerance_ }}</td>
        </tr>
        <tr>
            <td>upl_mapping_angle_weight_</td>
            <td>{{ data.upl_mapping_angle_weight_ }}</td>
        </tr>
        <tr>
            <td>upl_mapping_dist_weight_</td>
            <td>{{ data.upl_mapping_dist_weight_ }}</td>
        </tr>
        <tr>
            <td>tracking_error_tolerance_dist_</td>
            <td>{{ data.tracking_error_tolerance_dist_ }}</td>
        </tr>
        <tr>
            <td>tracking_error_tolerance_angle_</td>
            <td>{{ data.tracking_error_tolerance_angle_ }}</td>
        </tr>
        <tr>
            <td>aim_dist_</td>
            <td>{{ data.aim_dist_ }}</td>
        </tr>
        <tr>
            <td>predict_time_</td>
            <td>{{ data.predict_time_ }}</td>
        </tr>
        <tr>
            <td>is_traj_whole_</td>
            <td>{{ data.is_traj_whole_ }}</td>
        </tr>
        <tr>
            <td>aim_angle_p_</td>
            <td>{{ data.aim_angle_p_ }}</td>
        </tr>
        <tr>
            <td>aim_angle_i_</td>
            <td>{{ data.aim_angle_i_ }}</td>
        </tr>
        <tr>
            <td>aim_angle_d_</td>
            <td>{{ data.aim_angle_d_ }}</td>
        </tr>
        <tr>
            <td>stop_tolerance_</td>
            <td>{{ data.stop_tolerance_ }}</td>
        </tr>
        <tr>
            <td>stop_tolerance_angle_</td>
            <td>{{ data.stop_tolerance_angle_ }}</td>
        </tr>
        <tr>
            <td>stop_point_trim_</td>
            <td>{{ data.stop_point_trim_ }}</td>
        </tr>
        <tr>
            <td>aim_ey_p_</td>
            <td>{{ data.aim_ey_p_ }}</td>
        </tr>
        <tr>
            <td>aim_ey_i_</td>
            <td>{{ data.aim_ey_i_ }}</td>
        </tr>
        <tr>
            <td>aim_ey_d_</td>
            <td>{{ data.aim_ey_d_ }}</td>
        </tr>
        <tr>
            <td>track_status:command</td>
            <td>{{ data.track_status_.command_}}</td>
        </tr>
                <tr>
            <td>track_status:maiddle</td>
            <td>{{ data.track_status_.maiddle_}}</td>
        </tr>
                <tr>
            <td>track_status:response</td>
            <td>{{ data.track_status_.response_}}</td>
        </tr>
        <tr>
            <td>user_task_id_</td>
            <td>{{ data.user_task_id_ }}</td>
        </tr>
        <tr>
            <td>ato_task_id_</td>
            <td>{{ data.ato_task_id_ }}</td>
        </tr>
        <tr>
            <td>dest_upl:edge_id</td>
            <td>{{ data.dest_upl_.edge_id_ }}</td>
        </tr>
         <tr>
            <td>dest_upl:percentage</td>
            <td>{{ data.dest_upl_.percentage_ }}</td>
        </tr>
         <tr>
            <td>dest_upl:angle</td>
            <td>{{ data.dest_upl_.angle_ }}</td>
        </tr>
        <tr>
            <td>dest_pos:x</td>
            <td>{{ data.dest_pos_.x_ }}</td>
        </tr>
        <tr>
            <td>dest_pos:y</td>
            <td>{{ data.dest_pos_.y_ }}</td>
        </tr>
        <tr>
            <td>dest_pos:angle</td>
            <td>{{ data.dest_pos_.angle_ }}</td>
        </tr>

        <tr>
            <td>pos:x</td>
            <td>{{ data.pos_.x_ }}</td>
        </tr>
        <tr>
            <td>pos:y</td>
            <td>{{ data.pos_.y_ }}</td>
        </tr>
        <tr>
            <td>pos:angle</td>
            <td>{{ data.pos_.angle_ }}</td>
        </tr>
        <tr>
            <td>pos_time_stamp_</td>
            <td>{{ data.pos_time_stamp_ }}</td>
        </tr>
        <tr>
            <td>pos_status_</td>
            <td>{{ data.pos_status_ }}</td>
        </tr>
        <tr>
            <td>pos_confidence_</td>
            <td>{{ data.pos_confidence_ }}</td>
        </tr>
        <tr>
            <td>traj_ref_index_curr_</td>
            <td>{{ data.traj_ref_index_curr_ }}</td>
        </tr>
        <tr>
            <td>upl:edge_id</td>
            <td>{{ data.upl_.edge_id_ }}</td>
        </tr>
         <tr>
            <td>upl:percentage</td>
            <td>{{ data.upl_.percentage_ }}</td>
        </tr>
         <tr>
            <td>upl:angle</td>
            <td>{{ data.upl_.angle_ }}</td>
        </tr>

        <tr>
            <td>tracking_error_</td>
            <td>{{ data.tracking_error_ }}</td>
        </tr>
        <tr>
            <td>base_point:x</td>
            <td>{{ data.base_point_.x_ }}</td>
        </tr>
        <tr>
            <td>base_point:y</td>
            <td>{{ data.base_point_.y_ }}</td>
        </tr>
        <tr>
            <td>base_point:angle</td>
            <td>{{ data.base_point_.angle_ }}</td>
        </tr>
        <tr>
            <td>aim_point:x</td>
            <td>{{ data.aim_point_.x_ }}</td>
        </tr>
        <tr>
            <td>aim_point_:y</td>
            <td>{{ data.aim_point_.y_ }}</td>
        </tr>
        <tr>
            <td>aim_point_:angle</td>
            <td>{{ data.aim_point_.angle_ }}</td>
        </tr>
        <tr>
            <td>aim_heading_error_</td>
            <td>{{ data.aim_heading_error_ }}</td>
        </tr>
        <tr>
            <td>predict_point:x</td>
            <td>{{ data.predict_point_.x_ }}</td>
        </tr>
        <tr>
            <td>predict_point:y</td>
            <td>{{ data.predict_point_.y_ }}</td>
        </tr>
        <tr>
            <td>predict_point:angle</td>
            <td>{{ data.predict_point_.angle_ }}</td>
        </tr>
        <tr>
            <td>predict_point_curvature_</td>
            <td>{{ data.predict_point_curvature_ }}</td>
        </tr>
        <tr>
            <td>on_last_segment_</td>
            <td>{{ data.on_last_segment_ }}</td>
        </tr>
        <tr>
            <td>dist_to_partition_</td>
            <td>{{ data.dist_to_partition_ }}</td>
        </tr>
        <tr>
            <td>dist_to_dest_</td>
            <td>{{ data.dist_to_dest_ }}</td>
        </tr>
        <tr>
            <td>current_task_id_</td>
            <td>{{ data.current_task_id_ }}</td>
        </tr>
    </tr>
</table>
</body>
</html>