<!DOCTYPE html>
<html>
<meta charset="utf-8">
<body>
    <table class="table table-bordered">
        <tr>
            <td>status_command</td>
            <td>{{ data.status_.command_ }}</td>
        </tr>
        <tr>
            <td>status_middle</td>
            <td>{{ data.status_.middle_ }}</td>
        </tr>
        <tr>
            <td>status_middle</td>
            <td>{{ data.status_.response_ }}</td>
        </tr>
        <tr>
            <td>user_task_id</td>
            <td>{{ data.user_task_id_ }}</td>
        </tr>
        <tr>
            <td>ato_task_id</td>
            <td>{{ data.ato_task_id_ }}</td>
        </tr>
        <tr>
            <td>code</td>
            <td>{{ data.code_ }}</td>
        </tr>
        <tr>
            <td>param0</td>
            <td>{{ data.param0_}}</td>
        </tr>
        <tr>
            <td>param1</td>
            <td>{{ data.param1_ }}</td>
        </tr>
        <tr>
            <td>param2</td>
            <td>{{ data.param2_}}</td>
        </tr>
        <tr>
            <td>param3</td>
            <td>{{ data.param3_ }}</td>
        </tr>
        <tr>
            <td>param4</td>
            <td>{{ data.param4_ }}</td>
        </tr>
        <tr>
            <td>param5</td>
            <td>{{ data.param5_ }}</td>
        </tr>
        <tr>
            <td>param6</td>
            <td>{{ data.param6_ }}</td>
        </tr>
        <tr>
            <td>param7</td>
            <td>{{ data.param7_ }}</td>
        </tr>
        <tr>
            <td>param8</td>
            <td>{{ data.param8_ }}</td>
        </tr>
        <tr>
            <td>param9</td>
            <td>{{ data.param9_ }}</td>
        </tr>
        <tr>
            <td>param10</td>
            <td>{{ data.param10_ }}</td>
        </tr>
        <tr>
            <td>param11</td>
            <td>{{ data.param11_ }}</td>
        </tr>
        <tr>
            <td>param12</td>
            <td>{{ data.param12_ }}</td>
        </tr>
        <tr>
            <td>param13</td>
            <td>{{ data.param13_ }}</td>
        </tr>
        <tr>
            <td>param14</td>
            <td>{{ data.param14_ }}</td>
        </tr>
        <tr>
            <td>param15</td>
            <td>{{ data.param15_ }}</td>
        </tr>
        <tr>
            <td>param16</td>
            <td>{{ data.param16_ }}</td>
        </tr>
        <tr>
            <td>param17</td>
            <td>{{ data.param17_ }}</td>
        </tr>
        <tr>
            <td>param18</td>
            <td>{{ data.param18_ }}</td>
        </tr>
        <tr>
            <td>param19</td>
            <td>{{ data.param19_ }}</td>
        </tr>
        <tr>
            <td>current_task_id</td>
            <td>{{ data.current_task_id_ }}</td>
        </tr>
</table>
</body>
</html>