<!DOCTYPE html>
<html>
<meta charset="utf-8">
<body>
    <table class="table table-bordered">
        <tr>
            <td>ull00</td>
            <td>{{ data.ull00_}}</td>
        </tr>
        <tr>
            <td>ull01</td>
            <td>{{ data.ull01_ }}</td>
        </tr>
        <tr>
            <td>ull02</td>
            <td>{{ data.ull02_ }}</td>
        </tr>
        <tr>
            <td>ull03</td>
            <td>{{ data.ull03_ }}</td>
        </tr>
        <tr>
            <td>ull04</td>
            <td>{{ data.ull04_ }}</td>
        </tr>
        <tr>
            <td>ull05</td>
            <td>{{ data.ull05_ }}</td>
        </tr>
        <tr>
            <td>ull06</td>
            <td>{{ data.ull06_}}</td>
        </tr>
        <tr>
            <td>ull07</td>
            <td>{{ data.ull07_ }}</td>
        </tr>
        <tr>
            <td>ull08</td>
            <td>{{ data.ull08_}}</td>
        </tr>
        <tr>
            <td>ull09</td>
            <td>{{ data.ull09_ }}</td>
        </tr>
        <tr>
            <td>ull10</td>
            <td>{{ data.ull10_ }}</td>
        </tr>
        <tr>
            <td>ull11</td>
            <td>{{ data.ull11_ }}</td>
        </tr>
        <tr>
            <td>ull12</td>
            <td>{{ data.ull12_ }}</td>
        </tr>
        <tr>
            <td>ull13</td>
            <td>{{ data.ull13_ }}</td>
        </tr>
        <tr>
            <td>ull14</td>
            <td>{{ data.ull14_ }}</td>
        </tr>
        <tr>
            <td>ull15</td>
            <td>{{ data.ull15_ }}</td>
        </tr>
        <tr>
            <td>ull16</td>
            <td>{{ data.ull16_ }}</td>
        </tr>
        <tr>
            <td>ull17</td>
            <td>{{ data.ull17_ }}</td>
        </tr>
        <tr>
            <td>ull18</td>
            <td>{{ data.ull18_ }}</td>
        </tr>
        <tr>
            <td>ull19</td>
            <td>{{ data.ull19_ }}</td>
        </tr>
</table>
</body>
</html>