<!DOCTYPE html>
<html>
<meta charset="utf-8">
<body>
    <table class="table table-bordered">
        <tr>
            <td>vehicle_id_</td>
            <td>{{ data.vehicle_id_ }}</td>
        </tr>
        <tr>
            <td>vehicle_name_</td>
            <td>{{ data.vehicle_name_ }}</td>
        </tr>
        <tr>
            <td>vehicle_type_</td>
            <td>{{ data.vehicle_type_ }}</td>
        </tr>
        <tr>
            <td>chassis_type_</td>
            <td>{{ data.chassis_type_ }}</td>
        </tr>
        <tr>
            <td>max_speed_</td>
            <td>{{ data.max_speed_ }}</td>
        </tr>
        <tr>
            <td>creep_speed_</td>
            <td>{{ data.creep_speed_ }}</td>
        </tr>
        <tr>
            <td>max_acc_</td>
            <td>{{ data.max_acc_}}</td>
        </tr>
        <tr>
            <td>max_dec_</td>
            <td>{{ data.max_dec_ }}</td>
        </tr>
        <tr>
            <td>max_w_</td>
            <td>{{ data.max_w_}}</td>
        </tr>
        <tr>
            <td>creep_w_</td>
            <td>{{ data.creep_w_ }}</td>
        </tr>
        <tr>
            <td>max_acc_w_</td>
            <td>{{ data.max_acc_w_ }}</td>
        </tr>
        <tr>
            <td>max_dec_w_</td>
            <td>{{ data.max_dec_w_ }}</td>
        </tr>
        <tr>
            <td>steer_angle_error_tolerance_</td>
            <td>{{ data.steer_angle_error_tolerance_ }}</td>
        </tr>
        <tr>
            <td>manual_velocity_x_</td>
            <td>{{ data.manual_velocity_.x_ }}</td>
        </tr>
        <tr>
            <td>manual_velocity_y_</td>
            <td>{{ data.manual_velocity_.y_ }}</td>
        </tr>
        <tr>
            <td>manual_velocity_angle_</td>
            <td>{{ data.manual_velocity_.angle_ }}</td>
        </tr>
        <tr>
            <td>stop_normal_</td>
            <td>{{ data.stop_normal_ }}</td>
        </tr>
        <tr>
            <td>stop_emergency_</td>
            <td>{{ data.stop_emergency_ }}</td>
        </tr>
        <tr>
            <td>fault_stop_</td>
            <td>{{ data.fault_stop_ }}</td>
        </tr>
        <tr>
            <td>slow_down_</td>
            <td>{{ data.slow_down_ }}</td>
        </tr>
        <tr>
            <td>enable_</td>
            <td>{{ data.enable_ }}</td>
        </tr>
        <tr>
            <td>vehicle_control_mode_</td>
            <td>{{ data.control_mode_ }}</td>
        </tr>
        <tr>
            <td>enabled_</td>
            <td>{{ data.enabled_ }}</td>
        </tr>
        <tr>
            <td>command_velocity_x</td>
            <td>{{ data.command_velocity_.x_ }}</td>
        </tr>
        <tr>
            <td>command_velocity_y</td>
            <td>{{ data.command_velocity_.y_ }}</td>
        </tr>
        <tr>
            <td>command_velocity_angle</td>
            <td>{{ data.command_velocity_.angle_ }}</td>
        </tr>
        <tr>
            <td>ref_velocity_x</td>
            <td>{{ data.ref_velocity_.x_ }}</td>
        </tr>
        <tr>
            <td>ref_velocity_y</td>
            <td>{{ data.ref_velocity_.y_ }}</td>
        </tr>
        <tr>
            <td>ref_velocity_angle</td>
            <td>{{ data.ref_velocity_.angle_ }}</td>
        </tr>
        <tr>
            <td>actual_command_velocity_x</td>
            <td>{{ data.actual_command_velocity_.x_ }}</td>
        </tr>
        <tr>
            <td>actual_command_velocity_y</td>
            <td>{{ data.actual_command_velocity_.y_ }}</td>
        </tr>
        <tr>
            <td>actual_command_velocity_angle</td>
            <td>{{ data.actual_command_velocity_.angle_ }}</td>
        </tr>
        <tr>
            <td>actual_velocity_x</td>
            <td>{{ data.actual_velocity_.x_ }}</td>
        </tr>
        <tr>
            <td>actual_velocity_y</td>
            <td>{{ data.actual_velocity_.y_ }}</td>
        </tr>
        <tr>
            <td>actual_velocity_angle</td>
            <td>{{ data.actual_velocity_.angle_ }}</td>
        </tr>
        <tr>
            <td>odo_meter_x</td>
            <td>{{ data.odo_meter_.x_ }}</td>
        </tr>
        <tr>
            <td>odo_meter_y</td>
            <td>{{ data.odo_meter_.y_ }}</td>
        </tr>
        <tr>
            <td>odo_meter_angle</td>
            <td>{{ data.odo_meter_.angle_ }}</td>
        </tr>
        <tr>
            <td>time_stamp_</td>
            <td>{{ data.time_stamp_ }}</td>
        </tr>
        <tr>
            <td>is_moving_</td>
            <td>{{ data.is_moving_ }}</td>
        </tr>
        <tr>
            <td>normal_stopped_</td>
            <td>{{ data.normal_stopped_ }}</td>
        </tr>
        <tr>
            <td>emergency_stopped_</td>
            <td>{{ data.emergency_stopped_ }}</td>
        </tr>
        <tr>
            <td>slow_done_</td>
            <td>{{ data.slow_done_ }}</td>
        </tr>
        <tr>
            <td>total_odo_meter_</td>
            <td>{{ data.total_odo_meter_ }}</td>
        </tr>
    </tr>
</table>
</body>
</html>